@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;500;700;900&display=swap");

/* 100vh scroll fix */
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  /* overflow: hidden; */
  margin: 0;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

.orb-logo {
  width: auto;
  height: 100px;
  padding-right: 8px;
}

.manuals-title {
  display: flex;
  align-items: center;
}

/* breadcrumbs */
.vertical {
  font-size: 14px;
  font-weight: 300;
  /* letter-spacing: 0.025rem; */
  position: fixed;
  bottom: 2rem;
  left: 1rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  color: #212529;
}
.vertical a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  display: inline-block;
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}
.vertical a:hover {
  color: #8c9e6e;
}
.vertical a:hover:after {
  color: #212529;
}
.vertical a:after {
  content: "/";
  padding: 0 0.5rem;
  display: inline-block;
}
.vertical span.current {
  color: #8c9e6e;
}

.container {
  max-width: 660px;
  padding-bottom: 40px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fff;
  background-color: #8c9e6e;
  height: 40px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  margin-top: 20px;
}

footer a:link {
  color: #fff !important;
}

footer a:visited {
  color: #fff !important;
}

footer a:hover {
  color: black !important;
}

footer a {
  text-decoration: none;
}
